<h1>Choose An Option</h1>


<h1>
<li><%= link_to "Go To Fighters Page", fighters_path  %></li>
</h1>

<h1>
<li><%= link_to "Go To Comments Page", comments_path  %></li>
</h1>

<h1>
<li><%= link_to "Go To Favorites Page", favorites_path  %></li>
</h1>


<h1><li><%= link_to "Go To Camps Page", camps_path  %></li></h1>
